<!DOCTYPE html>
<html ng-app='app' lang="en">
<head>
	<meta charset="UTF-8">
	<title>Housing Management</title>
	<script
			src="https://code.jquery.com/jquery-3.1.1.js"
			integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
			crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../styles/mainStyle.css">
</head>
<body ng-controller="mainCtrl">

	<header>
		<input placeholder="put user name here" ng-model="userName">
		<button ng-click="checkName(userName)">user name input</button>
	</header>
	{{userName}}


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>

	<script src="../js/app.js"></script>
	<script src="../js/mainCtrl.js"></script>
	<script src="../js/loginDir.js"></script>
	<script src="../js/displayHousingDir.js"></script>
	<script src="../js/mainSrv.js"></script>
</body>
</html>