

<div class="login-wrapper" ng-if="hideExpression">
	<div class="login-container">

		<div class="upper-half-login-wrapper">
			<p> Please enter your user name below</p>
		</div>

		<div class="lower-half-login-wrapper">
			<div class="lower-half-login-container">
				<input placeholder="userName" ng-model="userName"><br>
				<button ng-click="checkName(userName)" ui-sref="displayHousing">Submit</button>
			</div>
		</div>

	</div>
</div>

<!--<div class="test-hide">Heres some more other stuff in the login-dir</div>-->